<% @title = "Profile" %>

<h3>View profile</h3>

<form class="pure-form" action="/profile" method="get">
    <input type="text" name="username" value="<%= @username %>" placeholder="username">
    <input class="pure-button" type="submit" value="Show">
</form>

<%= display_error(@error) %>
    
<% if @user %>
    <% if @user == @logged_in_user then %>
        <h3>Your profile</h3>
    <% else %>
        <h3><%= @user.username %>'s profile</h3>
    <% end  %>
    
    <p id="bitbar_display" data-bitbars="<%= @user.bitbars %>">0 bitbars</p>
        
    <% if @user.profile and @user.profile != "" %>
        <div id="profile"><%= sanitize_profile(@user.profile) %></div>
    <% end %>    

    <%= javascript_include_tag "profile" %>
<% end %>
